@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);

// Neat Breakpoints
$small-screen: 480px;
$medium-screen: 640px;
$large-screen: 960px;

$small-screen-up: new-breakpoint(max-width em($medium-screen - 1) 4);
$medium-screen-up: new-breakpoint(min-width em($medium-screen) max-width em($large-screen) 8);
$large-screen-up: new-breakpoint(min-width em($large-screen + 1) 12);
