@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "base/grid-settings";

body {
	margin: 0;
	padding: 0;
}

.full {
	background-color: $purple;
	min-width: 100%;
}

header {
	@include pad(3em);

	@include media($small-screen-up) {
		@include pad(1em 2em 1em);
	}
}

.logo {
	@include outer-container;

	h1 {
		color: #FFF;
		font-size: 2em;
		margin-bottom: .75em;

		a {
			color: #FFF;
		}

		@include media($small-screen-up) {
			@include span-columns(8);
			font-size: $h3-font-size;
			text-align: left;
		}
	}

	button {
		font-family: $avenir;
		font-weight: 800;

		@include media($small-screen-up) {
			font-size: .8em;
			margin-bottom: 1.5em;
		}
	}

	button, input {
		@include span-columns(12);
	}

	input {
		@include pad(.5em 3em);
		background: #FFF url("../img/searchicon.png") no-repeat 1em;
		background-size: 1em;
		border: 0;
		border-radius: $base-border-radius;
		color: $dark-gray;
		font-size: 1.25em;

		@include media($small-screen-up) {
			font-size: $base-font-size;
		}
	}
}

.content {
	.full {
		background-color: $light-gray;

		@include media($medium-screen-up) {
			background-color: #FFF;
		}
	}

	header {
		@include outer-container;

		@include media($medium-screen-up) {
			background-color: $light-gray;
		}
	}

	h1 {
		font-size: $h2-font-size;

		@include media($small-screen-up) {
			font-size: $h4-font-size;
			text-align: center;
		}
	}

	p.zero {
		@include outer-container;
		@include pad;

		font-size: $h2-font-size;
		margin-top: 5em;
		text-align: center;
	}
}

ul {
	@include outer-container;
	@include pad($gutter 3em);

	@include media($small-screen-up) {
		@include pad($gutter/2 2em);
	}
}

li {
	@include span-columns(3);
	@include omega(4n);
	@include pad;

	margin-bottom: 30px;
	padding-bottom: 30%; // Padding hack via Smashing.
	position: relative;
	transition: opacity .5s ease;

	@include media($medium-screen-up) {
		@include span-columns(4);
		@include omega(2n);

		height: 22em;
	}

	@include media($small-screen-up) {
		height: 14em;
		margin-bottom: $gutter/3;
	}
}

li:hover {
	position: relative;
	opacity: .7;
}

.detail {
	@include outer-container;
}

.book {
	@include span-columns(4);
	@include pad($gutter 6em $gutter 3em);
	position: absolute;

	@include media($medium-screen-up) {
		@include span-columns(8 of 8);
		@include pad(0 $gutter);
		position: relative;
		text-align: center;
	}

	img {
		margin-bottom: 1em;
		min-width: 150px;
		position: relative;
	}

	button {
		@include span-columns(4 of 4);
		min-width: 150px;

		@include media($medium-screen-up) {
			@include span-columns(8 of 8);
		}
	}
}

.meta {
	@include span-columns(8);
	@include shift(4);
	@include pad($gutter 3em $gutter 0);

	@include media($medium-screen-up) {
		@include span-columns(8);
		@include shift(0);
		@include pad($gutter);
	}

	h2 {
		font-style: italic;
		font-weight: 600;
		margin-bottom: .5em;
		text-align: left;
		text-shadow: 1px 1px 0 darken($dark-gray, 5%);

		@include media($medium-screen-up) {
			font-size: $h4-font-size;
			font-weight: 400;
			text-shadow: 0 0;
		}
	}

	h3 {
		@include span-columns(4 of 8);
		font-size: $h5-font-size;

		a {
			color: $purple;
		}
	}

	h3.publisher {
		text-align: right;
	}
}

.description {
	@include span-columns(8);
	@include shift(4);
	@include pad($gutter 2.5em $gutter 0);
	font-size: $h4-font-size;

	@include media($medium-screen-up) {
		@include outer-container;
		@include span-columns(8);
		@include shift(0);
		@include pad($gutter);
		font-size: $base-font-size;
	}
}

img {
	border: $base-border;
	border-radius: $base-border-radius;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	width: 100%;
		height: 100%;
}
