@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #44D3D0;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2bb9b6;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #FFF;
  color: #988FA2;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.75; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.875em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #FFF;
  text-decoration: none; }
  a:hover {
    color: #2bb9b6; }
  a:active, a:focus {
    color: #2bb9b6;
    outline: none; }

b {
  font-weight: 500; }

hr {
  border-bottom: 1px solid #EEEBEF;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.75em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #EEEBEF;
  color: #beb9c5;
  margin: 1.75em 0;
  padding-left: 0.875em; }

cite {
  color: #d8d5dc;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: white;
  border: 1px solid #EEEBEF;
  margin: 0 0 0.875em 0;
  padding: 1.75em; }

input,
label,
select {
  display: block;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.4375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #EEEBEF;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.875em;
  padding: 0.58333em 0.58333em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #d6cfd8; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #44D3D0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(48, 205, 202, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  padding: 0.5em 3em;
  background: #FFF url("../img/searchicon.png") no-repeat 1em;
  background-size: 1em;
  border: none;
  border-radius: 5px;
  color: #988FA2; }
  input:last-child {
    margin-right: 0; }
  @media screen and (min-width: 640px) {
    input {
      font-size: 1.25em; } }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.4375em; }

input[type="file"] {
  padding-bottom: 0.875em;
  width: 100%; }

select {
  margin-bottom: 1.75em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.875em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #cac1cd;
  font-weight: bold;
  padding: 0.875em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #EEEBEF;
  padding: 0.875em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.875em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.875em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  box-shadow: 0 7.5px #2bb9b6;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:last-child,
  input[type="submit"]:last-child {
    margin-right: 0; }
  button:hover,
  input[type="submit"]:hover {
    box-shadow: 0 7.5px #1d7b79; }

button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 800;
  margin-bottom: 7.5px;
  outline: none; }
  button:active {
    box-shadow: 0 3.75px #1d7b79;
    transform: translate(0, 3.75px); }

body {
  margin: 0;
  padding: 0; }

.full {
  background-color: #8844D3;
  min-width: 100%; }

header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 30px; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 640px) {
    header {
      padding: 30px 90px; } }

.logo {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .logo::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 640px) {
    .logo {
      padding: 30px 90px; } }
  .logo h1 {
    color: #FFF;
    font-size: 1.5em;
    margin-bottom: 15px; }
    @media screen and (min-width: 640px) {
      .logo h1 {
        font-size: 2em; } }
    .logo h1 a {
      color: #FFF; }

.content .full {
  background-color: #EEEBEF; }
.content h1 {
  font-size: 1.25em;
  text-align: center; }
  @media screen and (min-width: 640px) {
    .content h1 {
      font-size: 1.75em;
      text-align: left; } }
.content p.zero {
  font-size: 1.75em;
  margin-top: 135px;
  text-align: center; }
  @media screen and (min-width: 640px) {
    .content p.zero {
      margin-top: 165px; } }

.results .full {
  background-color: #FFF; }
  @media screen and (min-width: 640px) {
    .results .full {
      background-color: #EEEBEF; } }
.results header {
  background-color: #EEEBEF; }
  @media screen and (min-width: 640px) {
    .results header {
      background-color: transparent; } }

.detail {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px 0; }
  .detail::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 640px) {
    .detail {
      padding: 0 90px; } }
  @media screen and (min-width: 40em) and (max-width: 60em) {
    .detail .meta {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 61.29032%;
      margin-left: 38.70968%;
      padding: 60px 0; }
      .detail .meta:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 60.0625em) {
    .detail .meta {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 65.95745%;
      margin-left: 34.04255%;
      padding: 60px 0; }
      .detail .meta:last-child {
        margin-right: 0; } }
  .detail .meta h2 {
    font-size: 1.25em;
    font-style: italic;
    margin-bottom: 15px; }
    @media screen and (min-width: 40em) and (max-width: 60em) {
      .detail .meta h2 {
        font-size: 1.5em;
        font-weight: 600;
        text-shadow: 1px 1px 0 #8b8196; } }
    @media screen and (min-width: 60.0625em) {
      .detail .meta h2 {
        font-size: 1.75em;
        font-weight: 600;
        text-shadow: 1px 1px 0 #8b8196; } }
  .detail .meta h3 {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
    font-size: 1em; }
    .detail .meta h3:last-child {
      margin-right: 0; }
    @media screen and (min-width: 60.0625em) {
      .detail .meta h3 {
        font-size: 1.25em; } }
    .detail .meta h3 a {
      color: #8844D3; }
  .detail .meta h3.publisher {
    text-align: right; }
  .detail .book {
    margin-bottom: 90px; }
    @media screen and (min-width: 40em) and (max-width: 60em) {
      .detail .book {
        padding: 0 30px 0 0;
        float: left;
        display: block;
        margin-right: 3.22581%;
        width: 35.48387%;
        position: relative;
        bottom: 165px; }
        .detail .book:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 60.0625em) {
      .detail .book {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 31.91489%;
        padding: 0 30px 0 0;
        position: relative;
        bottom: 150px; }
        .detail .book:last-child {
          margin-right: 0; } }
    .detail .book img {
      margin-bottom: 15px; }
  @media screen and (min-width: 40em) and (max-width: 60em) {
    .detail .description {
      float: left;
      display: block;
      margin-right: 3.22581%;
      width: 61.29032%;
      padding: 30px 0;
      font-size: 1.25em; }
      .detail .description:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 60.0625em) {
    .detail .description {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 65.95745%;
      padding: 30px 0;
      font-size: 1.25em; }
      .detail .description:last-child {
        margin-right: 0; } }

ul {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 30px; }
  ul::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 640px) {
    ul {
      padding: 30px 90px; } }

li {
  margin-bottom: 15px;
  transition: opacity .5s ease; }
  @media screen and (max-width: 39.9375em) {
    li {
      float: left;
      display: block;
      margin-right: 6.66667%;
      width: 46.66667%;
      height: 15em; }
      li:last-child {
        margin-right: 0; }
      li:nth-child(2n) {
        margin-right: 0; }
      li:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 40em) and (max-width: 60em) {
    li {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%;
      height: 18em; }
      li:last-child {
        margin-right: 0; }
      li:nth-child(3n) {
        margin-right: 0; }
      li:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 60.0625em) {
    li {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%;
      height: 18em; }
      li:last-child {
        margin-right: 0; }
      li:nth-child(4n) {
        margin-right: 0; }
      li:nth-child(4n+1) {
        clear: left; } }

li:hover {
  position: relative;
  opacity: .7; }

img {
  border: 1px solid #EEEBEF;
  border-radius: 5px;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
