@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #44D3D0;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #27a4a1;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #FFF;
  color: #988FA2;
  font-family: Avenir, "Open Sans", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.75; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir, "Open Sans", Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.875em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #FFF;
  text-decoration: none; }
  a:hover {
    color: #27a4a1; }
  a:active, a:focus {
    color: #27a4a1;
    outline: none; }

b {
  font-weight: 500; }

hr {
  border-bottom: 1px solid #EEEBEF;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.75em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #EEEBEF;
  color: #beb9c5;
  margin: 1.75em 0;
  padding-left: 0.875em; }

cite {
  color: #d8d5dc;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: white;
  border: 1px solid #EEEBEF;
  margin: 0 0 0.875em 0;
  padding: 1.75em; }

input,
label,
select {
  display: block;
  font-family: Avenir, "Open Sans", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.4375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #EEEBEF;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: Avenir, "Open Sans", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.875em;
  padding: 0.58333em 0.58333em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #d6cfd8; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #44D3D0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(48, 205, 202, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.4375em; }

input[type="file"] {
  padding-bottom: 0.875em;
  width: 100%; }

select {
  margin-bottom: 1.75em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.875em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #cac1cd;
  font-weight: bold;
  padding: 0.875em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #EEEBEF;
  padding: 0.875em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.875em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.875em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: 0 10px #3AB3B0; }
  button:hover,
  input[type="submit"]:hover {
    box-shadow: 0 9px #2e8c8a; }

body {
  margin: 0;
  padding: 0; }

.full {
  background-color: #8844D3;
  min-width: 100%; }

header {
  padding: 3em; }
  @media screen and (max-width: 30em) {
    header {
      padding: 1em 2em 1em; } }

.logo {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .logo:after {
    content: "";
    display: table;
    clear: both; }
  .logo h1 {
    color: #FFF;
    font-size: 2em;
    margin-bottom: .75em; }
    .logo h1 a {
      color: #FFF; }
    @media screen and (max-width: 30em) {
      .logo h1 {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 207.42297%;
        font-size: 1.5em;
        text-align: left; }
        .logo h1:last-child {
          margin-right: 0; } }
  .logo button {
    font-family: Avenir, "Open Sans", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 800; }
    @media screen and (max-width: 30em) {
      .logo button {
        font-size: .8em;
        margin-bottom: 1.5em; } }
  .logo button, .logo input {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .logo button:last-child, .logo input:last-child {
      margin-right: 0; }
  .logo input {
    padding: 0.5em 3em;
    background: #FFF url("../img/searchicon.png") no-repeat 1em;
    background-size: 1em;
    border: 0;
    border-radius: 5px;
    color: #988FA2;
    font-size: 1.25em; }
    @media screen and (max-width: 30em) {
      .logo input {
        font-size: 1em; } }

.content .full {
  background-color: #EEEBEF; }
  @media screen and (max-width: 40em) {
    .content .full {
      background-color: #FFF; } }
.content header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .content header:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 40em) {
    .content header {
      background-color: #EEEBEF; } }
.content h1 {
  font-size: 1.75em; }
  @media screen and (max-width: 30em) {
    .content h1 {
      font-size: 1.25em;
      text-align: center; } }
.content p.zero {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  font-size: 1.75em;
  margin-top: 5em;
  text-align: center; }
  .content p.zero:after {
    content: "";
    display: table;
    clear: both; }

ul {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 3em; }
  ul:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 30em) {
    ul {
      padding: 15px 2em; } }

li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 2.35765%;
  margin-bottom: 30px;
  padding-bottom: 30%;
  position: relative;
  transition: opacity .5s ease; }
  li:last-child {
    margin-right: 0; }
  li:nth-child(4n) {
    margin-right: 0; }
  li:nth-child(4n+1) {
    clear: left; }
  @media screen and (max-width: 40em) {
    li {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%;
      height: 22em; }
      li:last-child {
        margin-right: 0; }
      li:nth-child(2n) {
        margin-right: 0; }
      li:nth-child(2n+1) {
        clear: left; } }
  @media screen and (max-width: 30em) {
    li {
      height: 14em;
      margin-bottom: 10px; } }

li:hover {
  position: relative;
  opacity: .7; }

.detail {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .detail:after {
    content: "";
    display: table;
    clear: both; }

.book {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 30px 6em 30px 3em;
  position: absolute; }
  .book:last-child {
    margin-right: 0; }
  @media screen and (max-width: 40em) {
    .book {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      padding: 0 30px;
      position: relative;
      text-align: center; }
      .book:last-child {
        margin-right: 0; } }
  .book img {
    margin-bottom: 1em;
    min-width: 150px;
    position: relative; }
  .book button {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    min-width: 150px; }
    .book button:last-child {
      margin-right: 0; }
    @media screen and (max-width: 40em) {
      .book button {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        .book button:last-child {
          margin-right: 0; } }

.meta {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 34.11922%;
  padding: 30px 3em 30px 0; }
  .meta:last-child {
    margin-right: 0; }
  @media screen and (max-width: 40em) {
    .meta {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      margin-left: 0%;
      padding: 30px; }
      .meta:last-child {
        margin-right: 0; } }
  .meta h2 {
    font-style: italic;
    font-weight: 600;
    margin-bottom: .5em;
    text-align: left;
    text-shadow: 1px 1px 0 #8b8196; }
    @media screen and (max-width: 40em) {
      .meta h2 {
        font-size: 1.25em;
        font-weight: 400;
        text-shadow: 0 0; } }
  .meta h3 {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%;
    font-size: 1em; }
    .meta h3:last-child {
      margin-right: 0; }
    .meta h3 a {
      color: #8844D3; }
  .meta h3.publisher {
    text-align: right; }

.description {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 34.11922%;
  padding: 30px 2.5em 30px 0;
  font-size: 1.25em; }
  .description:last-child {
    margin-right: 0; }
  @media screen and (max-width: 40em) {
    .description {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      margin-left: 0%;
      padding: 30px;
      font-size: 1em; }
      .description:after {
        content: "";
        display: table;
        clear: both; }
      .description:last-child {
        margin-right: 0; } }

img {
  border: 1px solid #EEEBEF;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
