@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

// General

body {
	margin: 0;
	padding: 0;
}

.full {
	background-color: $purple;
	min-width: 100%;
}

header {
	@include outer-container;
	@include pad($gutter);

	@include media($medium-screen) {
		@include pad($gutter $gutter*3);
	}
}

.logo {
	@include outer-container;

	@include media($medium-screen) {
		@include pad($gutter $gutter*3);
	}

	h1 {
		color: #FFF;
		font-size: $h3-font-size;
		margin-bottom: $gutter/2;

		@include media($medium-screen) {
			font-size: $h1-font-size;
		}

		a {
			color: #FFF;
		}
	}
}

.content {
	.full {
		background-color: $light-gray;
	}

	h1 {
		font-size: $h4-font-size;
		text-align: center;

		@include media($medium-screen) {
			font-size: $h2-font-size;
			text-align: left;
		}
	}

	p.zero {
		font-size: $h2-font-size;
		margin-top: $gutter*4.5;
		text-align: center;

		@include media($medium-screen) {
			margin-top: $gutter*5.5;
		}
	}
}

// Book Detail

.results {
	.full {
		background-color: #FFF;

		@include media($medium-screen) {
			background-color: $light-gray;
		}
	}

	header {
		background-color: $light-gray;

		@include media($medium-screen) {
			background-color: transparent;
		}
	}
}

.detail {
	@include outer-container;
	@include pad($gutter $gutter 0);

	@include media($medium-screen) {
		@include pad(0 $gutter*3);
	}

	.meta {

		@include media($medium-screen-up) {
			@include span-columns(5 of 8);
			@include shift(3);
			@include pad($gutter*2 0);
		}

		@include media($large-screen-up) {
			@include span-columns(8);
			@include shift(4);
			@include pad($gutter*2 0);
		}

		h2 {
			font-size: $h4-font-size;
			font-style: italic;
			margin-bottom: $gutter/2;

			@include media($medium-screen-up) {
				font-size: $h3-font-size;
				font-weight: 600;
				text-shadow: 1px 1px 0 darken($dark-gray, 5%);
			}

			@include media($large-screen-up) {
				font-size: $h2-font-size;
				font-weight: 600;
				text-shadow: 1px 1px 0 darken($dark-gray, 5%);
			}
		}

		h3 {
			@include span-columns(6 of 12);
			font-size: $h5-font-size;

			@include media($large-screen-up) {
				font-size: $h4-font-size;
			}

			a {
				color: $purple;
			}
		}

		h3.publisher {
			text-align: right;
		}
	}

	.book {
		margin-bottom: $gutter*3;

		@include media($medium-screen-up) {
			@include padding(0 $gutter 0 0);
			@include span-columns(3 of 8);
			position: relative;
				bottom: $gutter*5.5;
		}

		@include media($large-screen-up) {
			@include span-columns(4 of 12);
			@include pad(0 $gutter 0 0);
			position: relative;
				bottom: $gutter*5;
		}

		img {
			margin-bottom: $gutter/2;
		}
	}

	.description {
		@include media($medium-screen-up) {
			@include span-columns(5 of 8);
			@include pad($gutter 0);
			font-size: $h4-font-size;
		}

		@include media($large-screen-up) {
			@include span-columns(8 of 12);
			@include pad($gutter 0);
			font-size: $h4-font-size;
		}
	}
}

// Library

ul {
	@include outer-container;
	@include pad($gutter);

	@include media($medium-screen) {
		@include pad($gutter $gutter*3);
	}
}

li {
	margin-bottom: $gutter/2;
	transition: opacity .5s ease;

	@include media($small-screen-up) {
		@include span-columns(2);
		@include omega(2n);
		height: 15em;
	}

	@include media($medium-screen-up) {
		@include span-columns(4 of 12);
		@include omega(3n);
		height: 18em;
	}

	@include media($large-screen-up) {
		@include span-columns(3 of 12);
		@include omega(4n);
		height: 18em;
	}
}

li:hover {
	position: relative;
	opacity: .7;
}

img {
	border: $base-border;
	border-radius: $base-border-radius;
	width: 100%;
		height: 100%;
}
